@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --button-light: #da811b;
  --button-dark: #b16a18;
  --containers-light: #fff9ee;
  --containers-dark: #2d2d2e;
  --background-light: #fef2e1;
  --background-dark: #262627;
  --font-familyTitle: "Poppins", sans-serif;
  --font-familyText: "Open Sans", sans-serif;
  --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.theme-light {
  --button: var(--button-light);
  --containers: var(--containers-light);
  --background: var(--background-light);
  --text-color: #111827;
  --font-familyTitle: var(--font-familyTitle);
  --font-familyText: var(--font-familyText);
}

.theme-dark {
  --button: var(--button-dark);
  --containers: var(--containers-dark);
  --background: var(--background-dark);
  --text-color: #f3f4f6;
  --font-familyTitle: var(--font-familyTitle);
  --font-familyText: var(--font-familyText);
}

.color-purple {
  --bg-primary: #b500ea;
  --text-primary: #b500ea;
  --button-secondary: #bf54df;
  --button-primary: #b500ea;
  --button-tertiary: #d88af0;
}

.color-pink {
  --bg-primary: #ec4899;
  --text-primary: #ec4899;
  --button-secondary: #f06ab3;
  --button-primary: #ec4899;
  --button-tertiary: #f6a8d1;
}

.color-yellow {
  --bg-primary: #f59e0b;
  --text-primary: #f59e0b;
  --button-secondary: #ffcd36;
  --button-primary: #f59e0b;
  --button-tertiary: #f3ca6b;
}

.color-green {
  --bg-primary: #00b341;
  --text-primary: #00b341;
  --button-secondary: #00d14d;
  --button-primary: #00b341;
  --button-tertiary: #37da7b;
}

.color-blue {
  --bg-primary: #00a9e0;
  --text-primary: #00a9e0;
  --button-secondary: #00c2f0;
  --button-primary: #00a9e0;
  --button-tertiary: #60e1f8;
}